* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  background-color: rgb(236, 242, 248);
  font-family: "Barlow Semi Condensed", sans-serif;
}

main {
  width: 86vw;
  display: grid;
  grid-template-columns: 4 18vw;
  grid-template-rows: 2 auto;
  grid-template-areas:
    "grid1 grid1 grid2 grid3"
    "grid4 grid5 grid5 grid3";
  column-gap: 1.743em;
  row-gap: 1em;
  margin: 10px auto;
}

header {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

img {
  border-radius: 50px;
  border: 1px solid #fff;
  width: 40px;
}

.name {
  color: #ffff;
  opacity: 0.8;
  font-weight: 500;
}

span {
  opacity: 0.4;
}

.option {
  font-size: 16px;
  font-weight: 600;
  color: #ffff;
}

.option2 {
  color: rgba(11, 11, 13, 0.805);
  font-size: 15px;
  font-weight: 600;
}

.sub {
  color: rgba(236, 242, 248, 0.604);
}

.grid1 {
  grid-area: grid1;
  background-image: url("./images/bg-pattern-quotation.svg");
  background-color: rgb(117, 65, 200);
  background-position: 80% 0%;
  background-repeat: no-repeat;
  padding: 2em;
  border-radius: 1em;
}

.grid1 img {
  border: 2px solid rgb(117, 65, 200);
}

.grid2 {
  grid-area: grid2;
  background-color: rgb(72, 85, 106);
  padding: 2em;
  border-radius: 1em;
}

.grid3 {
  grid-area: grid3;
  background-color: rgb(255, 255, 255);
  padding: 2em;
  border-radius: 1em;
}

.grid3 .name {
  color: rgb(72, 85, 106);
  font-weight: 500;
  opacity: 0.8;
}

.grid3 span {
  color: rgb(72, 85, 106);
}

.grid4 {
  grid-area: grid4;
  background-color: rgb(255, 255, 255);
  padding: 2em;
  border-radius: 1em;
}

.grid3 .sub {
  color: rgba(6, 27, 48, 0.604);
}

.grid4 .sub {
  color: rgba(6, 27, 48, 0.604);
}

.grid4 .name {
  color: rgb(72, 85, 106);
  font-weight: 500;
  opacity: 0.8;
}

.grid4 span {
  color: rgb(72, 85, 106);
}

.grid5 {
  grid-area: grid5;
  background-color: rgb(25, 33, 46);
  padding: 2em;
  border-radius: 1em;
}

.grid5 img {
  border: 2px solid rgb(117, 65, 200);
}

@media screen and (max-width: 500px) {
  main {
    width: 80vw;
    display: grid;
    grid-template-rows: repeat(5 auto);
    grid-template-areas:
      "grid1"
      "grid2"
      "grid5"
      "grid4"
      "grid3";
  }
}
